<div id="projects" class="section_content container-fluid" ng-controller="projectsCtrl as projCtrl">
  <h1>Projects</h1>
  <div class="form-group">
    <input type="text" class="form-control" name="project-search" ng-model="searchText" placeholder="Search Projects" />
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="project in filteredProjects = (projCtrl.projects | filter:searchText)">
    <div class="project thumbnail">
      <a href="#"><img ng-src="{{project.images[0]}}"></a>
      <div class="caption">
        <h5>{{project.title}}</h5>
        <h6>{{project.company}}</h6>
      </div>
    </div>
  </div>
  <div class="noResult" ng-hide="filteredProjects.length">
    <b>Sorry! No Projects Matched Your Search.</b> Please try another search query.
  </div>
</div>
