.test, .temp {
  border: red 1px solid;
  min-height: 10px; }

#card_container {
  position: relative;
  height: 70vh;
  text-align: center;
  margin: 40px 0 0; }
  #card_container::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  #card_container #card {
    position: relative;
    display: inline-block;
    margin: auto auto;
    width: 40vw;
    height: 25vw;
    min-height: 10vw;
    max-height: 30vh;
    vertical-align: middle;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url("../images/K_bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 110%;
    border: 1pt solid rgba(149, 149, 149, 0.75); }
    #card_container #card::before {
      content: '';
      z-index: 50;
      opacity: 0.35;
      top: -50px;
      bottom: -50px;
      left: -90px;
      right: -110px;
      position: absolute;
      overflow: visible; }
  #card_container #feature {
    position: absolute;
    width: 35vw;
    height: 25vh;
    overflow: hidden;
    min-height: 10vw;
    max-height: 30vh;
    z-index: 10;
    border: 0.5pt solid rgba(149, 149, 149, 0.75); }
    #card_container #feature.left_card {
      left: 0px;
      top: 0px; }
    #card_container #feature.right_card {
      right: 0px;
      bottom: 0px; }
    #card_container #feature img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
      #card_container #feature img:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }

@media (max-width: 768px) {
  #card_container {
    margin-top: 0px; }
    #card_container:before {
      display: none; }
    #card_container #card, #card_container #feature {
      margin: 5px 0;
      position: relative;
      width: 100%;
      height: 20vh; }
      #card_container #card:before, #card_container #feature:before {
        display: none; } }
.transformable {
  -webkit-transition: height 100ms linear;
  -moz-transition: height 100ms linear;
  -o-transition: height 100ms linear;
  -ms-transition: height 100ms linear;
  transition: height 100ms linear; }

.small {
  height: 100px; }

.big {
  height: 300px; }

.project.thumbnail {
  position: relative; }
  .project.thumbnail .caption {
    position: absolute;
    bottom: 0px;
    background: rgba(50, 50, 50, 0.5);
    width: 100%;
    display: none; }
  .project.thumbnail img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .project.thumbnail:hover .caption {
    display: block; }
  .project.thumbnail:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

#aboutme {
  background: linear-gradient(transparent, black), url("../images/aboutme_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  #aboutme #aboutme_text {
    background: rgba(0, 0, 0, 0.75); }
  #aboutme .caption {
    font-size: 8px; }

.active #aboutme {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

#header nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #fff;
  background: rgba(255, 255, 255, 0.95); }
#header nav li, #header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
#header nav li, #header nav a {
  display: inline-block; }
#header nav a {
  padding: 10px;
  color: #333;
  text-decoration: none; }
#header a:hover {
  background: #fff; }
#header a.active {
  background: #323232;
  color: #fff; }

body {
  position: relative;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400; }
  body::-webkit-scrollbar {
    width: 1em;
    opacity: 0.1; }
    body::-webkit-scrollbar::hover {
      opacity: 0.75; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }
  body .center {
    text-align: center;
    margin: 0 auto; }
  body .row-centered {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    height: 1; }
  body .row-right {
    text-align: right;
    vertical-align: middle; }
  body .col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin: 0 auto; }
  body .col-right {
    display: inline-block;
    float: none;
    text-align: right;
    margin: 0 0 0 auto; }

#body_container {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100vh;
  overflow: scroll; }

.section {
  padding: 0;
  margin: 0px; }
  .section .section_content {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 95vh;
    color: #fff;
    background-color: #000; }

#footer {
  text-align: center;
  margin: auto;
  height: 40px;
  overflow: hidden;
  font-size: 10px;
  padding-top: 10px; }

.btn {
  background-color: black;
  color: white;
  border-color: gray; }
  .btn:hover {
    background: gray; }

@media (min-width: 350px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }

  .navbar .navbar-collapse, .navbar .navbar- {
    text-align: center;
    text-shadow: none; }
    .navbar .navbar-collapse li > div, .navbar .navbar- li > div {
      display: table-cell;
      vertical-align: middle;
      height: 50px; } }
@media (min-width: 450px) {
  #footer .collapse {
    display: none !important; } }

/*# sourceMappingURL=custom.css.map */
